@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  font: inherit; /* Inherits font styles from parent */
  color: inherit; /* Inherits text color */
  text-align: inherit; /* Matches text alignment */
  cursor: pointer;
}

:root {
  --primary-color: #0027D5;
  --secondary-color: #4B4B4B;
  --text-color-primary: #000;
  --text-color-secondary: #fff;
  --quote: #EDEDED;
  --background-white: #fff;
  --background-gray: #F5F5F5;
}

/* Debug用
*{
    outline: solid 1px green;
}*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-primary);
}

.container {
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.wrap-medium {
  max-width: 1320px;
}

.wrap-narrow {
  max-width: 660px;
}

.intro {
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.article-time {
  padding: 4px;
  display: block;
}

.sticker {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  font-weight: 700;
  color: var(--text-color-secondary);
  background: var(--primary-color);
  border-radius: 40px;
  padding: 6px 12px;
  margin-left: 4px;
}

.text-gray {
  color: var(--secondary-color);
}

.mark {
  color: var(--primary-color);
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
}

.btn-primary {
  display: inline-block;
  align-self: flex-start;
  color: var(--primary-color);
  background: var(--background-white);
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 8px 16px;
}
.btn-primary:hover {
  color: var(--text-color-secondary);
  background: var(--primary-color);
}

.btn-secondary {
  display: inline-block;
  align-self: flex-start;
  color: var(--secondary-color);
  text-align: center;
  border: 1px solid var(--text-color-primary);
  border-radius: 40px;
  padding: 8px 16px;
}
.btn-secondary:hover {
  color: var(--text-color-secondary);
  background: var(--secondary-color);
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.break-line {
  display: none;
}

.bg-white {
  background: var(--background-white);
}

.bg-gray {
  background: var(--background-gray);
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
}
.menu li {
  margin: 24px 20px;
}
.menu a:hover {
  box-shadow: inset 0 -3px 0 var(--text-color-primary);
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.mail {
  font-size: 32px;
}
.mail:hover {
  opacity: 0.7;
}

.media {
  display: flex;
}
.media .sns {
  width: 44px;
  height: 44px;
}
.media .sns:hover {
  filter: brightness(0.5);
}
.media .sns:active {
  transform: scale(0.8);
}

.copyright {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* header */
.title {
  display: flex;
  height: calc(100vh - 90px);
}

.img-box {
  width: 50%;
}

.text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-fit {
  height: 100%;
  object-fit: cover;
}

.bg-box {
  background-image: url(../img/desktop/header/Hero_Section2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-text {
  display: flex;
  padding-left: 80px;
}
.title-text .main-title {
  font-size: clamp(52px, 10vw, 120px);
  font-weight: 900;
  color: var(--primary-color);
}
.title-text .sub-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
}

.banner {
  display: flex;
  margin-bottom: 80px;
  border: 1px solid var(--secondary-color);
}

.banner-text {
  padding-left: 24px;
  padding-right: 12px;
  max-width: 660px;
}

.category {
  font-size: 24px;
  color: var(--primary-color);
}

.blog-title {
  font-size: 28px;
  font-weight: 700;
}

.overlap-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.introduce {
  max-width: 1077px;
  padding: 80px 40px;
  margin: -160px 80px 0;
  align-self: flex-end;
}
.introduce .word {
  font-size: 28px;
  margin-bottom: 16px;
}
.introduce p {
  margin-bottom: 16px;
}

.index-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

.index-title {
  font-size: 64px;
  font-weight: 700;
}

.index-h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.service-title {
  position: relative;
}
.service-title::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  bottom: 50px;
  width: 30px;
  height: 2.5px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.pr-list {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto 32px;
  padding: 0 12px;
}

.pr-img {
  max-width: 636px;
}
.pr-img img {
  object-fit: cover;
}

.pr-text {
  position: relative;
  z-index: 1;
  max-width: 480px;
  padding: 64px 24px 24px;
}

.margin-minus-left {
  margin-left: -40px;
}

.margin-minus-right {
  margin-right: -40px;
}

.contact-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}
.contact-me i {
  font-size: 40px;
  margin-left: 8px;
}

.best-of-blog {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.swiper-wrapper-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 24px;
}

.swiper {
  width: 90%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  color: var(--primary-color);
  background: var(--background-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--text-color-primary);
}
.swiper-button-prev i,
.swiper-button-next i {
  font-size: 44px;
}

.feedback {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}
.feedback-photo {
  max-width: 745px;
  padding: 24px;
  background: var(--quote);
}
.feedback-text {
  max-width: 526px;
  padding: 80px 40px;
}
.feedback-text i {
  color: var(--primary-color);
  font-size: 40px;
  margin-bottom: 24px;
}
.feedback-text p {
  font-weight: 700;
}
.feedback .sticky-top {
  margin-left: -35%;
}
.feedback .sticky-bottom {
  margin-left: 24px;
  margin-top: -40px;
}
.feedback .sticky-bottom a {
  margin-top: 24px;
}

.feedback-podcast {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.feedback-podcast img {
  max-width: 80px;
}

.podcast-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.podcast-card a {
  margin-top: 16px;
}

.podcast-text {
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--secondary-color);
}
.podcast-text .index-h3 {
  font-size: 24px;
}

.check {
  display: flex;
  margin-bottom: 8px;
}
.check i {
  margin-right: 8px;
  color: var(--primary-color);
}

.epaper {
  display: flex;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.subscribe-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  margin: 12px;
  padding: 80px;
}
.subscribe p {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subscribe-input {
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #F1F1F1;
}
.subscribe-input::placeholder {
  color: var(--secondary-color);
}
.subscribe .btn-primary {
  margin-top: 24px;
}

.link-list address {
  margin-top: 24px;
}

.contact-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color-primary);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.contact-list .email-link {
  font-size: 32px;
  text-decoration: underline;
  margin-right: 16px;
}
.contact-list img {
  width: 44px;
  margin-right: 8px;
}
.contact-list p {
  font-size: 28px;
  flex-grow: 1;
}
.contact-list i {
  font-size: 24px;
}

/* blog main */
.search-bar {
  display: flex;
  max-width: 418px;
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 8px 16px;
  margin-bottom: 40px;
}
.search-bar input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}
.search-bar:has(input:focus) {
  border-color: var(--primary-color);
}

.search-icon {
  color: var(--secondary-color);
  font-size: 24px;
  padding-right: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 80px 24px;
}

.card {
  width: calc((100% - 48px) / 3);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.card-head {
  padding-bottom: 16px;
  width: 100%;
}

.tags a {
  color: var(--primary-color);
  font-size: 24px;
  padding-right: 4px;
}
.tags a:hover {
  filter: brightness(0.5);
}

.card-body {
  display: flex;
  flex-direction: column;
}
.card-body .summary {
  flex-grow: 1;
}
.card-body .intro {
  color: var(--secondary-color);
}

.page-number {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.page-number .page-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.page-number a {
  display: block;
  color: var(--secondary-color);
}
.page-number a:hover {
  transform: scale(1.5);
}
.page-number a:active {
  transform: scale(1);
}

.ellipsis {
  color: var(--secondary-color);
}

.current-page {
  color: var(--primary-color);
}

.blog-article {
  margin-bottom: 48px;
}
.blog-article img {
  margin-bottom: 24px;
}

.blog-title-large {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 24px;
}

.blog-title-medium {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.text-block {
  margin-bottom: 24px;
}
.text-block p {
  margin-bottom: 8px;
}
.text-block ol {
  list-style: reset;
  padding-left: 24px;
}
.text-block ul {
  list-style-type: disc;
  padding-left: 24px;
}

.quote {
  font-weight: 700;
  padding: 24px;
  background: var(--quote);
  border-radius: 24px;
  margin-bottom: 24px;
}

/* 避免重疊物件破版，提早轉mobile設計 */
@media (max-width: 1024px) {
  .overlap-box {
    gap: unset;
  }
  .introduce {
    margin: 0px 12px;
    padding: 40px 24px;
  }
}
/* header RWD */
@media (max-width: 992px) {
  .img-box {
    width: 50%;
  }
  .title-text {
    padding-left: 40px;
    padding-right: 40px;
  }
  .title-text .sub-title {
    font-size: clamp(18px, 9vw, 28px);
  }
  .banner {
    flex-wrap: wrap;
    margin-bottom: 64px;
    padding-bottom: 48px;
  }
  .banner .img-box {
    width: 100%;
    margin-bottom: 48px;
  }
  .banner .img-box img {
    height: calc(100vh - 90px - 206px);
  }
  .banner .text-box {
    width: 100%;
    margin: 0 auto;
  }
  .banner .text-box .text-shadow {
    text-shadow: none;
  }
  .banner .banner-text {
    max-width: 100%;
    padding-left: 12px;
  }
}
/* index main RWD */
@media (max-width: 992px) {
  .index-section {
    padding-bottom: 64px;
    padding-top: 64px;
  }
  .pr-list {
    flex-direction: column;
  }
  .pr-img {
    order: 1;
    max-width: unset;
    width: 100%;
  }
  .pr-text {
    order: 2;
    max-width: unset;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .feedback {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .feedback-photo, .feedback-text {
    max-width: unset;
    width: 100%;
  }
  .feedback .sticky-top {
    margin-left: 0;
    margin-top: -10%;
  }
  .feedback .sticky-bottom {
    margin: 0;
  }
  .feedback-podcast {
    flex-wrap: wrap;
  }
  .podcast-card {
    width: 40%;
  }
  .epaper {
    flex-wrap: wrap;
  }
  .epaper .img-box,
  .epaper .text-box {
    width: 100%;
  }
  .epaper .subscribe {
    width: calc(100% - 24px);
    padding: 40px 24px;
  }
}
/* Blog main RWD */
@media (max-width: 992px) {
  .card {
    width: calc((100% - 24px) / 2);
  }
}
/* footer RWD */
@media (max-width: 992px) {
  .contact {
    display: none;
  }
}
/* base RWD */
@media (max-width: 992px) {
  .break-line {
    display: inline-block;
  }
}
/* header RWD */
@media (max-width: 767px) {
  .title {
    flex-wrap: wrap;
  }
  .title .img-box {
    width: 100%;
    content: url("../img/mobile/header/Hero_Section.png");
    height: calc(100vh - 90px - 168px);
    object-fit: cover;
  }
  .text-box {
    width: 100%;
  }
  .text-box .main-title {
    font-size: 52px;
  }
  .title-text {
    padding: 24px;
  }
  .banner .img-box {
    content: url("../img/mobile/header/About_Section.png");
  }
}
/* index main RWD */
@media (max-width: 767px) {
  .index-title {
    font-size: 48px;
  }
  .title-text {
    padding-bottom: 160px;
  }
  .feedback-photo {
    content: url(../img/mobile/index_photo8.png);
  }
  .feedback-text {
    padding: 40px 24px;
  }
  .feedback .sticky-top {
    margin-top: -30%;
  }
  .podcast-card {
    width: 100%;
  }
  .contact-list {
    flex-wrap: wrap;
  }
  .contact-list .email-link {
    font-size: 24px;
    flex-basis: 100%;
    margin-bottom: 8px;
  }
  .contact-list .cooperate {
    flex-basis: 100%;
  }
  .contact-list a {
    flex-basis: 100%;
  }
  .swiper-wrapper-area {
    display: block;
    height: 450px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 100%;
  }
  .swiper-button-prev {
    left: auto;
    right: 15%;
  }
}
@media (max-width: 374px) {
  .introduce {
    margin-top: 120px;
  }
}
/* Blog main RWD */
@media (max-width: 767px) {
  .card-list {
    gap: 32px 0px;
  }
  .card {
    width: 100%;
  }
  .page-number {
    margin-bottom: 64px;
  }
}