.blog-article {
    margin-bottom: 48px;

    img {
        margin-bottom: 24px;
    }
}

.blog-title-large {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.blog-title-medium {
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin-bottom: 12px;
}

.text-block {
    margin-bottom: 24px;

    p {
        margin-bottom: 8px;
    }

    ol {
        list-style: reset;
        padding-left: calc(16px * 1.5);
    }

    ul {
        list-style-type: disc;
        padding-left: calc(16px * 1.5);
    }
}

.quote {
    font-weight: $font-weight-bold;
    padding: 24px;
    background: var(--quote);
    border-radius: 24px;
    margin-bottom: 24px;
}

.related-post:hover {
    opacity: 0.7;
}

.btn-pre-next {
    display: flex;
    justify-content: space-between;
}