/* header */

.title {
    display: flex;
    height: calc(100vh - 90px);
}

.img-box {
    width: 50%;
}

.text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fit {
    height: 100%;
    object-fit: cover;
}

.bg-box {
    background-image: url(../img/desktop/header/Hero_Section2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-text {
    display: flex;
    padding-left: 80px;

    .main-title {
        font-size: clamp(92px, 7vw, $font-size-h1);
        font-weight: $font-weight-black;
        color: var(--primary-color);
    }

    .sub-title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: var(--primary-color);
    }
}

.banner {
    display: flex;
    margin-bottom: 80px;
    border: 1px solid var(--secondary-color);
}

.banner-text {
    padding-left: 24px;
    padding-right: 12px;
    max-width: calc(0.5 * 1320px);
}

.category {
    font-size: $font-size-small;
    color: var(--primary-color);
}

.blog-title {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
}