/*header*/

.title {
    display: flex;
    height: calc(100vh - 90px);
}

.img-box {
    width: 50%;
}

.text-box {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.img-fit {
    height: 100%;
    object-fit: cover;
    }

.bg-box {
    background-image: url(/img/desktop/header/Hero_Section2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-text {
    display: flex;
    padding: 80px;
    .main-title {
        font-size: clamp($font-size-h1Mobile, 10vw, $font-size-h1);
        font-weight: $font-weight-black;
        color: var(--primary-color);
    }
    .sub-title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: var(--primary-color);
    }
}

.banner {
    display: flex;
    margin-bottom: 80px;
}
.banner-text {
    padding-left: 24px;
    padding-right: 12px;
    max-width: calc(0.5 * 1320px);
}

.category {
    font-size: $font-size-small;
    color: var(--primary-color);
}
.blog-title {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
}


/*main*/

.search-bar {
    display: flex;
    max-width: 418px;
    border: 1px solid var(--secondary-color);
    border-radius: $border-radius;
    padding: 8px 16px;
    margin-bottom: 40px;
    input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
    }
}
.search-icon {
    color: var(--secondary-color);
    font-size: $font-size-small;
    padding-right: 10px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
}
.card {
    width: calc((100% - 2 * 24px) / 3);
    margin-bottom: 40px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.card-head {
    padding-bottom: 16px;
    width: 100%;
}
.tags {
    a {
        color: var(--primary-color);
        font-size: $font-size-small;
        padding-right: 4px;
        &:hover {
            filter: brightness(0.5);
        }
    }
}
.card-body {
    display: flex;
    flex-direction: column;
    .summary {
        flex-grow: 1;
    }
    .intro {
        color: var(--secondary-color);
    }
    button {
        justify-content: flex-end;
    }
}

.page-number {
    display: flex;
    justify-content: center;
    gap: 8px;
    letter-spacing: 12px;
    margin-bottom: 80px;
    a {
        color: var(--secondary-color);
        &:hover {
            transform: scale(1.5);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}
.ellipsis {
    color: var(--secondary-color);
}
.current-page {
    color: var(--primary-color);
}