/* base RWD */

@media (max-width: 767px) {
    .break-line {
        display: inline-block;
    }
}

/* header RWD */

@media (max-width: 767px) {
    .title {
        flex-wrap: wrap;
        .img-box {
            width: 100%;
            content: url("../img/mobile/header/Hero_Section.png");
            height: calc(100vh - 90px - 168px);
            object-fit: cover;
        }
    }
    .text-box {
        width: 100%;
        .main-title {
        font-size: $font-size-h1Mobile;
        }
    }
    .title-text {
        padding: 24px;
    }
    .banner {
        .img-box {
            content: url("../img/mobile/header/About_Section.png");
        }
    }
}

/* index main RWD */

@media (max-width: 767px) {
    .title-text {
        padding-bottom: 160px;
    }
    .feedback{
        &-photo {
            content: url(../img/mobile/index_photo8.png);
        }
        &-text {
            padding: 40px 24px;
        }
    }
}



/* Blog main RWD */

@media (max-width: 767px) {
    .card-list {
        gap: 0;
    }
    .card {
        width: 100%;
        margin-bottom: 32px;
    }
    .page-number {
        margin-bottom: 64px;
    }
}
