/* header RWD */

@media (max-width: 992px) {
    .img-box {
        width: 50%;
    }

    .title-text {
        padding-left: 40px;
        padding-right: 40px;
        .sub-title {
            font-size: clamp(18px, 9vw, $font-size-medium);
        }
    }

    .banner {
        flex-wrap: wrap;
        margin-bottom: 64px;
        padding-bottom: 48px;
        .img-box {
            width: 100%;
            margin-bottom: 48px;
            img {
                height: calc(100vh - 90px - 206px);
            }
        }
        .text-box {
            width: 100%;
            margin: 0 auto;
            .text-shadow {
                text-shadow: none;
            }
        }
        .banner-text {
            max-width: 100%;
            padding-left: 12px;
        }
    }
}


/* index main RWD */

@media (max-width: 992px) {
    .feedback {
        flex-direction: column;
        &-photo {
            width: 100%;
        }
        &-text {
            max-width: calc(992px - 12px * 2);
        }
        .sticky-top {
            margin-left: 0;
            margin-top: -30%;
        }
        .sticky-bottom {
            margin: 0;
        }
    }
}


/* Blog main RWD */

@media (max-width: 992px) {
    .card {
        width: calc((100% - 24px) / 2);
    }
}


/* footer RWD */

@media (max-width: 992px) {
    .contact{
        display: none;
    }
}

@media (max-width: 992px) {
    
}