/* header RWD */

@media (max-width: 992px) {
    .img-box {
        width: 50%;
    }

    .title-text {
        padding-left: 40px;
        padding-right: 40px;
        .sub-title {
            font-size: clamp(18px, 7vw, $font-size-medium);
        }
    }

    .banner {
        flex-wrap: wrap;
        margin-bottom: 64px;
        .img-box {
            width: 100%;
            margin-bottom: 48px;
        }
        .text-box {
            width: 100%;
            margin: 0 auto;
        }
        .banner-text {
            max-width: 100%;
            padding-left: 12px;
        }
    }
}

/* main RWD */

@media (max-width: 992px) {
    .card {
        width: calc((100% - 24px) / 2);
    }
}


/* footer RWD */

@media (max-width: 992px) {
    .contact{
        display: none;
    }
}

@media (max-width: 992px) {
    
}