:root {
    --primary-color: #0027D5;
    --secondary-color: #4B4B4B;
    --text-color-primary: #000;
    --text-color-secondary: #fff;
}

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-small: 24px;
$font-size-medium: 28px;
$font-size-large: 64px;
$font-size-h1: 120px;
$font-size-h1Mobile: 52px;

$line-height: 1.5;

$border-radius: 40px;
